# Keil/STM32 常见忽略
*.o
*.d
*.lst
*.crf
*.map
*.axf
*.hex
*.elf
*.bin
*.dep
*.plg
*.tra
*.htm
*.build_log.htm

Debug/
Release/
Objects/
Listings/
Build/
Output/
List/

*.uvoptx
*.uvguix.*
*.uvprojx.bak
*.user
JLinkLog.txt
JLinkSettings.ini

Thumbs.db
*.bak

# 强制包含 project 里的重要文件
!/project/
!/project/*.uvprojx
!/project/*.c
!/project/*.h
!/project/*.s